.LandingPageFirstSection_style {
    align-items: center;
    height: 90vh;
    display: flex;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}

.cardModelFuelForm_style {
    width: 100%;

    @include xs {
        padding: 0.8rem 0.8rem;
    }

    @include lg {
        padding: 2rem 2rem;
    }

    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);

    &:hover {
        box-shadow: 0 16px 70px -12.125px rgba(0, 0, 0, 0.3);
        ;
    }
}